<% include partials/header.ejs%>

  <h1>Welcome to TuneGoose!</h1>

	

  <% if (typeof message !== 'undefined'){ %>
    <h2 style = "color:red;"><%= message %></h2>
  <% } %>



  <h3>Search by Song Title:</h3>


  <br>
    <form action="/search" method="POST">
    <label for="title">Enter a Song Title</label>
    <input type="text" id= "title" name="title" placeholder="title" autofocus>    
	<br>
  <br>
    <label for="relevance">Well Known</label>    
    <input type="radio" id= "familiar"  name="sort" value="artist_familiarity-desc" checked>
    
    <label for="relevance">Obscure</label>
    <input type="radio" id= "relevance"  name="sort" value="artist_familiarity-asc">
    <label for="artist">Artist</label>
    <input type="text" id= "artist"  name="artist" placeholder="artist">
  <br>
  <br>
  <p>
    <input class = "btn btn-info btn-lg" type="submit">
  </p>

  <!-- <br> -->
  </form>





<% include partials/footer.ejs%>