<% include partials/header.ejs%>
  <h1>Song Search Results</h1>

<% if (songs.length == 0) {%>
<h1>No Songs Matched Your Search</h1>
<p>How about trying some different search options?</p>
<FORM><INPUT Type="button" class="btn btn-warning btn-sm" VALUE="Try Again" onClick="history.go(-1);return true;"></FORM>
<% } %>


<% songs.forEach(function(song){ %>
 <form action="/mysongs" method="POST" class="resultsForm"><p>
    <label class="resultLabel">Title: </label><%= song.title %>
    <br>    
    <label class="resultLabel">Artist: </label><%= song.artist_name %>
    <br>
    <% if(song.tracks.length>0) {  %>
      <label class="resultLabel">SpotifyID: </label><%= song.tracks[0].foreign_id.slice(14)  %>
      <br>
    <% } %>

    <input type="hidden" name="mySongId" value=<%= song.id %> >
    <input type="submit" class="btn btn-primary btn-sm" value="Check Out This Song!">
  </p>
  </form> 
<% }) %>
<% include partials/footer.ejs%>
<!-- <h1>Find Songs!</h1>
 -->
    <!-- action is the URL we send our data to -->
    <!-- method is the HTTP verb (e.g., GET, POST) -->


