
.info {
position: relative;
/*top: -140px;*/
}

input[type="range"], ::-moz-range-track, ::-ms-track {
-webkit-appearance: none;
background-color: 3f91e5;
width: 2px;
height:20px;
}

.sLabel{
	display: block;
	text-align: left;
	font-size: 16pt;
		color: #666665;

}

.xbtn{
	margin-bottom: 10px;
}
.resultsForm{
	font-size: 11pt;
	color: #666665;
}

.resultsForm{
	font-style: bold;
	font-size: 11pt;
	color: black;
}

.fLabel{
	display: block;
	text-align: right;
	font-size: 10pt;
	color: #666665;
}

.buttonLabel{
	display: inline-block;
	position: flex;
	float: left;
	font-size: 11pt;
	color: #666665;
	padding-right: 4px;
	font-weight: bold;
}

.keyChoice{
	display: inline-block;
	position: flex;
	float:left;

}

.obscure{
	display: inline-block;
	position: flex;
	float:left;
	padding-right: 5px;
	padding-left: 5px;
	color: #666665;


}

#searchButton{
	display: flex;
	margin: 0 0 0 63%;
}

	input[class='dInput'] {
		-webkit-appearance: none;
		border-radius: 4px;
		border-style: solid;
		border-width: thin;
		box-shadow: inset 1px 1px 5px #C7C7C7;
		background-color: #E8E8E8;
		height: 30px;
		vertical-align: middle;
		float: left;
		width: 80%;
	}

		input[class='dInput']::-webkit-slider-thumb {
		-webkit-appearance: none !important;
		border-radius: 3px;
		background-color: #2DFA34;
		box-shadow:inset 0 0 3px rgba(000,000,000,0.5);
		border: 1px solid green;
		height: 38px;
		width: 14px;
	}

	input[class='fader'] {
		-webkit-appearance: none;
		border-radius: 5px;
		box-shadow: inset 0 0 5px #333;
		background-color: #E4EBEA;
		height: 10px;
		vertical-align: middle;
		float: right;
		width: 15%;
	}

			input[class='fader']::-webkit-slider-thumb {
		-webkit-appearance: none !important;
		border-radius: 6px;
		background-color: #FABC2D;
		box-shadow:inset 0 0 2px rgba(000,000,000,0.5);
		border: 2px solid grey;
		height: 14px;
		width: 14px;
	}